{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Blog {% endblock %}
{% block content %}
  <div class="container my-5 text-center">
    {% for p in posts %}
      <div class="row mx-auto py-4 border-bottom" style="max-width: 650px;">
        <div class="post">
          <div class="imgBx">
            {% thumbnail p.image "500x500" crop="center" as im %}
              <a href="{% url 'blog:detail' pk=p.pk slug=p.slug %}"><img src="{{im.url}}" alt=""></a>
            {% endthumbnail %}
          </div>
          <div class="content">
            <a href="{% url 'blog:detail' pk=p.pk slug=p.slug %}"><h2>{{p.title}}</h2></a>
            <p>{{p.body|truncatewords:40}}</p>
            <p><a href="#">{{p.author}}</a></p>
            <div class="d-flex justify-content-between">
              {% if p.user_likes.all %}
                {% with total_likes=p.user_likes.count %}
                  <span class="total"><span class="count">{{total_likes}}</span> Likes</span>
                {% endwith %}
              {% else %}
                <p>No one has liked it Yet!</p>
              {% endif %}
              <a href="#"
                class="like btn btn-info"
                data-id="{{ p.id }}" id="like{{p.id}}"
                data-action="{% if request.user not in p.user_likes.all%}un{% endif %}like">
              {% if request.user in p.user_likes.all %}
                Unlike
              {% else %}
                Like
              {% endif %}
            </a>

            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

<script>
  {% block domready %}
    $('a.like').click(function(e){
      e.preventDefault();
      $.post('{% url "blog:like" %}',
        {
          id: $(this).data('id'),
          action: $(this).data('action')
        },
        function(data){
          console.log(data['status'])
          if(data['status']=='ok')
          {
            let previous_action = $('a.like').data('action');
            $('a.like').data('action',previous_action == 'like' ? 'unlike' : 'like');
            $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

            let previous_likes = parseInt($('span.total .count').text());
            $('span.total .count').text(previous_action=='like'?previous_likes + 1:previous_likes - 1)
          }
        }
      );
    });
  {% endblock %}
</script>
