{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}
{% block content %}
  <div class="container my-5">
    <form method="post">
      {% csrf_token %}
      <fieldset>
        <legend class="border-bottom pb-2">Login</legend>
        {{ form|crispy }}
        <input	type="hidden"	name="next"	value="{{	next	}}"	/>
      </fieldset>
      <div class="my-3 d-flex justify-content-between align-items-center">
        <input type="submit" class="btn btn-success border-round btn-lg px-5"style="border-radius: 40px;" value="Login">
        <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
      </div>
    </form>
    <div class="my-4">
      <p>Need an account? <a href="{% url 'register'%}"> Create here</a></p>
    </div>
  </div>
{% endblock %}
