{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} settings {% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <fieldset>
          <legend>Enter your Email : </legend>
          {{ form|crispy }}
          <input type="submit" class="btn btn-success btn-lg px-5" style="border-radius: 30px;" value="Send email!">
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
