{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Settings {% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <fieldset class="border-bottom">
          <legend>Change Password</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group text-center">
          <input type="submit" class="btn btn-success px-5 my-3 btn-lg" style="border-radius: 30px;" value="Change!">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
