<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'index' %}">Brand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% if section == 'index' %}active{% endif %}">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if section == 'about' %}active{% endif %}">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item {% if section == 'blog' %}active{% endif %}">
        <a class="nav-link" href="{% url 'blog:list' %}">Blog</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item {% if section == 'dashboard' %}active{% endif %}">
          <a class="nav-link" href="{% url 'dashboard' %}">Hello,{{request.user}}</a>
        </li>
        <li class="nav-item {% if section == 'logout' %}active{% endif %}">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item {% if section == 'login' %}active{% endif %}">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item {% if 'section' == 'register' %}active{% endif %}">
          <a class="nav-link" href="{% url 'register'%}">Register</a>
        </li>
      {% endif %}

    </ul>
  </div>
</nav>
